<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ooe.fh.liftme">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        tools:replace="android:label"
        android:name=".application.AppClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LiftMe"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".UI.Activity.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="LiftMe"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UI.Activity.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="LiftMe"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <receiver android:name=".UI.Fragments.Fragment_CreateTraining$OnDragHappenedBroadcastReceiver">
            <intent-filter>
                <action android:name="ON_ITEM_DRAG_HAPPENED">
                </action>
            </intent-filter>
        </receiver>
    </application>

</manifest>